#search {
    position: relative;
    margin: 1rem;

    input {
        font-family: inherit;
        background-color: #eef4f9;
        border-color: transparent;
        padding: 1rem 4rem 1rem 1.5rem;
        font-size: 1.6rem;
        width: 25rem;
        border-radius: 1rem;

        &:focus {
            outline: 0;
        }
    }

    label {
        display: none;
    }

    button {
        position: absolute;
        font-size: 16px;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.6rem;

        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    &:hover button {
        color: #4677ff;
    }
}
