.container {
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    max-width: 1630px;
}

@media screen and (max-width: 979px) {
    .hide_mobile {
        display: none;
    }
}

.data_block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: srem;
    box-shadow: var(--block-shadow);
    padding: 2rem;
    margin-top: 2rem;
}
