.cloudSVG {
    height: 300px;
    width: 100%;
    position: absolute;

    path {
        fill: #fff;
    }

    &\:left {
        transform: translateX(-180px) scale(0.68, 0.68);
        opacity: .5;
    }

    &\:right {
        transform: translateX(180px) scale(0.68, 0.68) rotateY(180deg);
        opacity: .5;
    }
    
}