.cloudBlock {
    position: absolute;

    > svg {
        height: 300px;
        width: 100%;

        > path {
            fill: #fff;
        }
    }

    &\:left {
        transform: translateX(-180px) scale(0.68, 0.68);
        opacity: 0.5;
        animation: cloudAnimation-left 20s ease infinite;
    }

    &\:right {
        transform: translateX(180px) scale(0.68, 0.68) rotateY(180deg);
        opacity: 0.5;
        animation: cloudAnimation-right 20s ease infinite;
    }
}
