.weatherImg {
    height: 40rem;
    overflow: hidden;
    position: relative;
}

.weatherImg\:animation {
    animation: weather-up 1s ease-out;
}

.cloud {
    display: flex;
    flex-direction: column;
}

@import './svg';