html {
    font-size: 10px;
}

@import './variables';

@font-face {
    font-family: 'Inter';
    src: url(./Inter.ttf);
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-color: #f9fafe;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 14px;
}

@mixin centerAbsolute($x, $y) {
    position: absolute;
    top: $x;
    left: $y;
    transform: translate(-$x, -$y);
}

@mixin dropCloud {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -10;
}

@media screen and (max-width: 979px) {
    .hide_mobile {
        display: none;
    }
}

.topBar {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: var(--block-shadow);
    padding: 1.5rem;
}

.test {
    box-shadow: 0 16px 40px rgba(112, 144, 176, 0.2);
    width: 300px;
    height: 300px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    padding: 5rem;
}

@import './svg';
@import './global';
@import './weather';
@import './animation';
